# Created by https://www.toptal.com/developers/gitignore/api/django,vue
# Edit at https://www.toptal.com/developers/gitignore?templates=django,vue

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
my_settings.py